/* .message.error {
    border-color: red;
    color: white;
    background: red;
} */

.message.warning {
  padding: 0.7rem;
  margin-bottom: 1rem;
  color: white;
  background: orangered;
}

.fa {
  color: red;
  border-color: black;
}

.active {
  color: green;
  font-weight: bold;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article-outer-container {
  margin: 1rem;
  padding: 1rem;
  background: whitesmoke;
  border: 2px solid black;
  width: 300px;
  position: relative;
}

.search {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.article {
  text-decoration: none;
  color: black;
}

.edit-form {
  display: none;
}
